@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');

/* common styles utilities */
body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    width: 120px;
    height: 44px;
    background: #FF900E;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 50px;
}
/* header styles */
.header{
    background: rgba(255, 144, 14, 0.1);
}
nav ul li{
    list-style: none;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    gap: 45px;
}
/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title{
    text-align: center;
    width: 350px;
    margin: 26px 516px 10px 542px;
    font-weight: 700;
    font-size: 40px;
}
.banner-subtitle{
    font-weight: 10;
    font-size: 12px;
    color: #727272;
    text-align: center;
    margin: 0px 513px 10px 539px;
}
.banner-img{
    border-radius: 8px;
    margin: 0px 227px 45px 253px;
    width: 1000px;
}
/* main styles */

/* Team styles */

.team-work{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.team-pic img{
    width: 342px;
    height: 342px;
}
.team-detail{
    width: 537px;
    height: 304px;
    font-weight: 500;
    font-size: 25px;
}
.team-detail p{
    font-style: normal;
    font-size: 12px;
    color: #727272;
}

/* feature styles */

.features{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
}
.feature-detail{
    width: 586px;
    height: 982px;
    /* margin-right: 100px; */
}
.feature-title{
    border: 5px solid #FF900E;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;    
}
.feature-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-description{
    width: 586px;
    height: 100px;
    background: white;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-description-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.feature-description-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #727272;
}
.features img{
    width: 500px;
    height: 700px;
}
.experience{
    color: white;
    border: 1px solid black;
    border: none;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    left: 792px;
    top: 2459px;
    width: 235px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience h2{
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.experience p{
    font-weight: 500;
    font-size: 10px;
    margin-top: 0;
}
/* Facts Style */
.facts{
    display: flex;
    flex-direction: column;
    padding-left: 139px;
    margin-bottom: 100px;
}
.facts h2{
    font-weight: 700;
    font-size: 45px;  
    margin-top: 0;
    margin-bottom: 0;  
}
.facts p{
    width: 542px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;    
}
/* activities styles */
.activities{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 180px;
}
.activity{
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity h2{
    font-weight: 600;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.activity p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 0;
    margin-bottom: 0;
}
/* Sponsors styles */
.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsor-title{
    width: 542px;
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-title h2{
    font-size: 45px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.sponsor-title p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.sponsor{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px 100px 50px;
}
/* footer styles */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title{
    color: #424242;
    width: 1200px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
@media screen and (max-width:688px) {
    .nav-menu{
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
        margin-top: 0;
    }
    .banner-title{
        margin: 0 0 10px 0;
    }
    .banner-subtitle{
        margin: 0 0 10px 0;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .banner-img{
        margin: 0;
        width: 100%;
    }
    .team-work{
        margin: 0;
        flex-direction: column-reverse;
        gap: 0;
        align-items: flex-start;
    }
    .team-detail{
        width: 100%;
        text-align: center;
    }
    .team-pic{
        grid-template-columns: repeat(1,1fr);
    }
    .features{
        height: 1450px;
        flex-direction: column;
    }
    .feature-detail{
        width: 100%;
        height: 880px;
    }
    .feature-description{
        width: 100%;
    }
    .features img{
        width: 100%;
        height: 500px;
    }
    .experience{
        top: 3613px;
        width: 160px;
        height: 95px;
        left:15px;
    }
    .facts{
        padding-left: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .facts p{
        width: 100%;
        margin: 0;
    }
    .activities{
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
        margin-bottom: 50px;
    }
    .sponsor-title p{
        width: 360px;
        text-align: center;
    }
    .sponsor{
        flex-wrap: wrap;
        margin: 50px;
        gap: 20px;
    }
    .footer-title{
        text-align: center;
        margin-bottom: 50px;
        width: 280px;
        height: 70px;
    }
}
@media screen and (min-width:689px) and (max-width:992px) {
    .nav-menu{
        align-items: center;
    }
    .banner-subtitle{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        width: 500px;
    }
    .banner-img{
        margin-left: 121px;
        margin-right: 121px;
        margin-bottom: 45px;
        width: 70%;
    }
    .team-work{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .team-detail{
        height: 195px;
    }
    .features{
        height: 1620px;
        flex-wrap: wrap;
    }
    .feature-detail{
        height: 585px;
    }
    .experience{
        left: 110px;
        top: 3255px;
        width: 190px;
        height: 110px;
    }
    .activities{
        row-gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .sponsor{
        flex-wrap: wrap;
        width: 70%;
        margin: 20px 0 50px 120px;
    }
    .sponsor img{
        margin-bottom: 20px;
    }
    .footer-title{
        width: 580px;
        margin-bottom: 50px;
        height: 60px;
    }
}